
  <mat-list class="list-nav">
    <mat-list-item class="list-item" *ngFor="let source of sources" (click)="searchArticles(source.id)">

      <button (click)="searchArticles(source.id)"> {{source.name}}</button>

    </mat-list-item>
  </mat-list>


<mat-card class = "tip">
<h1>
<span>Headlines</span>
</h1>
</mat-card>
<mat-card class = "input">
<input #ex type='text' placeholder="Enter Source here"
       (keyup.enter)="searchArticles(ex.value)"/>

<button (click)= "searchArticles(ex.value)">Get Articles by Source</button>
  <mat-card class = "divider"></mat-card>
  <button (click)= "reset()">reset</button>
</mat-card>
<mat-list>
<mat-card class = "test" *ngFor= "let article of articles">
  <mat-card-title class="title">{{article.title}}</mat-card-title>
  <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
  <mat-card-content class = "description">
      {{article.description}}
  </mat-card-content>
  <mat-card-actions class="read-more">
    <a mat-button color = "blue" href = {{article.url}}  target="_blank">read more</a>
  </mat-card-actions>
</mat-card>
</mat-list>
