.test{
  margin-top:4px;
  margin-left: 20%;
  margin-right: 20%;
}
.tip{
  text-align: center;
  font-weight:bold;
  font-size: 20px;
}
.input{
  text-align: center;
}
.divider{
  width: 5px;
  height:auto;
  display:inline-block;
}
.title{
  font-size: 30px;
  font-weight: bold;
}
.read-more{
  display: inline-block;
}
.list-nav{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkgrey;
  overflow-x: hidden;
  padding-top: 20px;
}
.buttons{
  display: inline-block;
  color: white;
  background: blue;
  border-radius: 12px;
  height: 40px;
}
.buttons:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.search-button{
  display: inline-block;
  color: white;
  background: blue;
  border-radius: 12px;
  height: 40px;
}
.search-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.reset-button{
  display: inline-block;
  color: white;
  background: blue;
  border-radius: 12px;
  height: 40px;
}
.reset-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
